


<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Home</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <!-- <li class="active"><a href="#intro">Intro</a></li> -->
                <li><a href="#intro">Intro</a></li>
                <li><a href="#data_overview">Data Overview</a></li>
                <li><a href="#tsne">tSNE</a></li>
                <li><a href="/testpage">testpage</a></li>
            </ul>
        </div>
    </div>
</nav>

