
<style>

    body {
        margin: 0;
    }
    
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        width:120px;
    }

    ul li a:hover{
        background-color: #111;
    }

    ul li a:active {
        background-color: #afa8a8;
    }

    </style>
    
    <body>
    
        <ul>
          <!-- <li><a class="active" href="#intro">Intro</a></li> -->
          <li><a href="#intro">Intro</a></li>
          <li><a href="#data_overview">Data Overview</a></li>
          <li><a href="#tsne">tSNE</a></li>
          <li><a href="/testpage">testpage</a></li>
          <!-- <li style="float:right;color: white"><p>View scRNA-seq DATA</p></li> -->
        </ul>
        
        </body>
    