<!DOCTYPE html>
<html lang="en">

   <head>
      <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
      <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   
      {% include '_navbar.html' %}
      <title>DisplayDATA</title>
      
   </head>
   <body>

      <style type="text/css">
         .wdiv{margin-top:30px;width=500px;height:1600px;}
         .fldiv{margin-top:60px;width=240px;height:1500px;float:left}
         .frdiv{margin-top:30px;width=240px;height:1500px;float:right}
      </style>

      <div style="padding:5px;">
         <div class="fldiv">    -->
            {% include '_sidebar.html' %}    
         </div>

         <div class="frdiv">
            {% block rightblock %}
            {% endblock %} 
         </div>

      </div>

   </body>

   {% include '_footer.html' %} 
         
</html>